a.root-link{
  
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  text-align: center;
  margin-top: 1rem;
  height: 2rem;
  border-color: rgb(230, 227, 227);
}

.root-route{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  bottom: 40%;
  left: 30%;
  right: 30%;
  width: 40%;
  min-width: 40%;
  max-width: 40%;
  align-items: center;
  /* border-radius: 10px;
  border-width: 1px;
  border-color: black; */
}