.UserSelect{
  flex: 1;
  /* height: 100%; */


}
@media only screen and (max-width: 700px){
  .active{
    width: 100%;
  }
  .inactive{
    display: none;
  }
}

.async-select-control{
  min-height: 50px;
}

.async-select{
  height: 5%;
  min-height: 5%;
  max-height: 5%;
}