.MessageView {
  flex: 4;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.back-button{
  display: none;

}

.receiver-heading{
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 700px){
  .active{
    width: 100%;
  }
  .inactive{
    display: none;
  }
  .back-button{
    display: inline;
    margin-left: 1rem;

  }
}

.MessageView-empty {
  flex: 4;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 700px){
    display: none;
  }
}

#form {
  /* background: rgba(0, 0, 0, 0.15); */
  padding: 0.25rem;
  bottom: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  align-self: flex-end;
  flex: 0.5;
  width: 100%;
}

.message-input {
  border-width: 0.5px;
  border-color: rgb(212, 210, 210);
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem 1rem;
  /* color: rgb(188, 193, 197); */
}
.message-input:focus {
  background-color: rgb(236, 232, 241);
}

#input:focus {
  outline: none;
}

.submit-button {
  display: none;
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 95%;
  max-height: 95%;
  width: 100%;
  flex: 9;
}

ul.message-list{
  display: flex;
  flex-direction: column;
}

.message-list>li {
  padding: 0.5rem 1.5rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  max-width: 60%;
  margin: 5px 0px 5px 0px;
  
}

li.from-me {
  align-self: flex-end;
  background-color: rgb(147, 177, 233);
  margin-right: 1rem;
}

li.not-from-me {
  align-self: flex-start;
  background-color: rgb(225, 232, 236);
  margin-left: 1rem;
}

/* #messages>li:nth-child(odd) {
  background: #efefef;
} */

.message-view-header {
  flex: 0.5;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(230, 227, 227);
  text-align: center;
  height: 5%;
  min-height: 38px;
  /* max-height: 5%; */
  display: flex;
  align-items: center;
  justify-content: left;
}

